.requests {
    margin-left: 10px;
    background: white;
    width: 675px;
    height: 671px;
    box-shadow: 0px 1px 3px rgba(32, 75, 146, 0.15);
    border-radius: 5px;
}

.requests__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #333D47;
    margin: 21px 0px 20px 24px;
}

.requests__img {
    width: 227.24px;
    height: 177px;
    margin: 141px 230.38px 20px 217.37px;
}

.requests__msg {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #494949;
    margin-left: 246px;
}

.requests__msg-desc {
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #494949;
    opacity: 0.7;
    margin-top: 6px;
    padding-right: 10px;
}

.request-year-list__year {
    background: #5495FF;
    height: 22px;
    color: white;
    font-weight: 600;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: -0.289412px;
    padding-left: 30px;
}

.request-year-list__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.request-year-list__item {
    height: 94px;
    display: flex;
    position: relative;
}

.request-year-list__item:nth-child(odd) {
    background: #F6F8FD;
}

.request-year-list__img {
    width: 50px;
    height: 50px;
    margin: 15px 14px 29px 26px;
}

.request-year-list__item-desc {
    display: flex;
    flex-direction: column;
    margin-top: 13px;
}

.request-year-list__item-desc::after {
    content: '';
    position: absolute;
    right: 29px;
    top: 16px;
    width: 5px;
    height: 10px;
    background-image: url(/public/images/arrow.png);
    background-size: cover;
    cursor: pointer;
}

.request-year-list__item-dates {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #333D47;
}

.request-year-list__item-created {
    font-size: 12px;
    line-height: 17px;
    color: #333D47;
}

.request-year-list__item-status {
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
}

.request-year-list__item-status_approved {
    color: #3FAD44;
}